= link_to "#", data: link_data_attributes do
  .px-3.rounded.border.flex.text-sm.items-center.border-chalky-border-strong.bg-chalky-surface.text-chalky-text-secondary.transition-all.shadow-sm class="box-border h-8 hover:border-chalky-text-muted hover:text-chalky-text-primary hover:shadow-none"
    i.lg:mr-2.mr-0 class=(icon)
    span.hidden.lg:block = label
