.px-3.rounded.border.flex.text-sm.items-center.border-gray-300.bg-white.transition-all.shadow-sm.cursor-pointer class="box-border h-8 hover:border-gray-400 hover:shadow-none"
  i.lg:mr-2.mr-0 class=(icon)
  span.hidden.lg:block = label
